::ng-deep .mat-dialog-container {
    padding: 0 !important;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    padding-top: 8px;

    @media (max-width: 600px) {
        grid-template-columns: 1fr;
    }
}

.form-field {
    width: 100%;
}

mat-form-field {
    width: 100%;
}

.full-width {
    width: 100%;
}

.full-column {
    grid-column: 1 / -1;
}

