<div class="container my-4">
    <!-- Registration Form -->
    <div class="card shadow-sm">
      <div class="card-header bg-primary text-white">
        <h4 class="mb-0">Employee Attendance</h4>
      </div>
      <div class="card-body">
        <form [formGroup]="attendanceForm" (ngSubmit)="onSubmit()">
            <div class="form-grid">

                <mat-form-field class="full-width">
                    <mat-label>Employee Name</mat-label>
                    <input matInput placeholder="Enter First Name" formControlName="employeeName">
                    <span class="text-danger"
                        *ngIf="attendanceForm.get('employeeName') && attendanceForm.get('employeeName').touched && attendanceForm.get('employeeName').errors && attendanceForm.get('employeeName').errors['required']">
                        Enter your First NameattendanceForm
                    </span>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Attendance Status</mat-label>
                    <mat-select formControlName="status">
                        <mat-option value="Present">Present</mat-option>
                        <mat-option value="Absent">Absent</mat-option>
                    </mat-select>
                    <span class="text-danger"
                        *ngIf="attendanceForm.get('status') && attendanceForm.get('status').touched && attendanceForm.get('status').errors && attendanceForm.get('status').errors['required']">
                        Select Attendance Status
                    </span>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="date">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <span class="text-danger"
                        *ngIf="(attendanceForm.get('date').touched || submitted) && attendanceForm.get('date').errors?.['required']">
                        Date is required
                    </span>
                </mat-form-field>
            </div>


            <div class="button-group">
                <button type="submit" mat-raised-button color="primary" class="form-button"
                    [disabled]="isButtonDisabled">{{
                    saveButtonLabel }}</button>
                <button type="reset" mat-raised-button color="secondary" class="form-button"
                    (click)="resetData()">Reset</button>
            </div>
        </form>
    </div>
</div>

    <div class="card shadow-sm mt-5">
        <div class="card-header bg-secondary text-white d-flex justify-content-between align-items-center">
            <h4 class="mb-0">Client Information</h4>
            <button mat-icon-button color="light" (click)="refreshData()" matTooltip="Refresh">
              <mat-icon>refresh</mat-icon>
            </button>
          </div>
          <div class="card-body">
            <div class="row mb-3">
              <div class="col-md-4">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Filter</mat-label>
                  <input matInput (keyup)="applyFilter($event)" placeholder="Search clients" />
                </mat-form-field>
              </div>
            </div>

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="employeeName">
                <th mat-header-cell *matHeaderCellDef>Employee Name</th>
                <td mat-cell *matCellDef="let element">{{ element.employeeName }}</td>
            </ng-container>
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>Status</th>
                <td mat-cell *matCellDef="let element">{{ element.status }}</td>
            </ng-container>
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef>Date</th>
                <td mat-cell *matCellDef="let element">{{ element.date | date }}</td>
            </ng-container>
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button color="primary" (click)="editData(element)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="deleteData(element)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'highlight-row': selectedRow && selectedRow.id === row.id,
          'last-added-row': lastAddedRow && lastAddedRow.id === row.id,
          'last-edited-row': lastEditedRow && lastEditedRow.id === row.id}"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
            aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>
</div>